<div class="page-languages">
  <button class="language-menu-toggle" title="Show other languages of page">{{@root.page.componentLanguage.displayLanguage}}</button>
  <div class="language-menu">
    <a class="language" href="#">English</a>
    <a class="language" href="#">Русский</a>
  </div>
</div>
